In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
medals_data = pd.read_csv('~/Desktop/Projects/Olympic-ious/data/medals.csv')

In [21]:
medals_data.head()

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

In [22]:
summary_data = pd.read_csv('/Users/prithvishah/Desktop/Projects/Olympic-ious/data/Olympics_summary.csv')

In [23]:
summary_data.head()

               country_name                                            summary
0  United States of America  The United States has a rich Olympic sports hi...
1                    Russia  Russia, formerly part of the Soviet Union, has...
2                     China  China has witnessed remarkable growth in Olymp...
3                   Germany  Germany's Olympic history is impressive, with ...
4             Great Britain  The United Kingdom boasts a proud Olympic trad...

In [24]:
medals_data.drop(['athlete_url','athlete_full_name','participant_title','country_code'],axis=1,inplace=True)

In [27]:
medals_data.head()

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,country_name
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden

In [26]:
medals_data.drop('country_3_letter_code',axis=1,inplace=True)

In [28]:
medals_data.drop('participant_type',axis=1,inplace=True)